# $cp env.example .env  to get a fresh copy of this file
# change the values below to point at your server

FILEMAKER_SERVER_ADDRESS=<server address>
FILEMAKER_USER=<username>
FILEMAKER_PASS=<password>
